@charset "UTF-8";
/* CSS Document */

body {
	background-color: #3A506B; 
}

header {
	width: 100%;
	padding-bottom: 20px;
	padding-top: 20px;
	background-color: #1675AA;
	text-align: center;
	font-family: "Monospace";
	font-size: 2em;
	align-content: center;
}

nav {
	font-size: 0.6em;
}

.navitem {
	background-color: white;
	border: 2px solid #73AD21;
	border-radius: 15px;
	padding-left: 8px;
	padding-right: 8px;
	padding-top: 10px;
	padding-bottom: 10px;
	margin: 5px;
}

.navitem:hover {
	background-color: black;
}

#logopic {
	max-width: 25%;
	height: auto;
	padding-bottom: 20px;
}

main {
	text-align: center;
	border-style: groove;
	border-color: #28BCC9;
	border-width: 8px;
	border-radius: 15px;
	width: 70%;
	background-color: #0B132B;
	color: #78c8e2;
	padding-bottom: 10px;
	padding-left: 10px;
	padding-right: 10px;
	margin: 40px;
	margin-left: 15%;
	font-size: 1.25em;
}

p {
	text-align: Justify;
	font-family: Monospace;
}

.pic {
	max-width: 60%;
	height: auto;
}

h1 {
	color: #78c8e2;
	-webkit-transition-property: color;
	-webkit-transition-duration: 1s;
	-webkit-transition-delay: 0.1s;
	transition-property: color;
	transition-duration: 1s;
	transition-delay: 0.1s;
}
h1:hover {
	color: #2761f4;
}


h3 {
	text-align: Center;
	color: #78c8e2;
	-webkit-transition-property: color;
	-webkit-transition-duration: 0.5s;
	-webkit-transition-delay: 0s;
	transition-property: color;
	transition-duration: 0.5s;
	transition-delay: 0s;

}

h3:hover {
	color: #52c962;

}

.footer {
	align-content: center;
	text-align: center;
	background-color: #3A506B;
}

p.secret {
	color: #0B132B;	
	-webkit-transition-property: color;
	-webkit-transition-duration: 1.5s;
	-webkit-transition-delay: 0.2s;
	transition-property: color;
	transition-duration: 1.5s;
	transition-delay: 0.2s;
	
}

p.secret:hover {
	color: #78c8e2;
}

.key {
	color: #78c8e2;
	-webkit-transition-property: color;
	-webkit-transition-duration: 0.5s;
	-webkit-transition-delay: 0.1s;
	transition-property: color;
	transition-duration: 0.5s;
	transition-delay: 0.1s;
	-webkit-transition-property: font-size;
	-webkit-transition-duration: 0.7s;
	-webkit-transition-delay: 0.2s;
	transition-property: font-size;
	transition-duration: 0.7s;
	transition-delay: 0.2s;
}
.key:hover {
	color: white;
	font-size: 2.5em;
	cursor: default;
}
a {
	color: cadetblue;
    white-space: pre-wrap;    
    white-space: -moz-pre-wrap; 
    white-space: -pre-wrap;    
    white-space: -o-pre-wrap;     
    word-wrap: break-word; 
}

