@charset "UTF-8";
/* CSS Document */

body {
	background-color: #3A506B;
}

header {
	width: 100%;
	padding-bottom: 10px;
	padding-top: 20px;
	background-color: #5BC0BE;
	text-align: center;
	font-family: "Monospace";
	font-size: 2em;
	align-content: center;
}

nav {
	font-size: 0.7em;
}

#logopic {
	max-width: 15%;
	height: auto;
}

main {
	width: 80%;
	background-color: #0B132B;
	color: #2B7C94;
	padding-bottom: 50px;
	text-align: center;
	margin-left: 10%;
	font-size: 1.5em;
}

.pic {
	max-width: 55%;
	height: auto;
}

h1 {
	color: #40798C;
}

.footer {
	align-content: center;
	text-align: center;
	background-color: #3A506B;
}
a, a:visited {
	color: #40798C;
}

a:hover {
	color: black;
}
